---
/**
 * Authors: Eduardo Porto Morales
 * 
 * Description: This is the accounts payable view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";

import { getCookie } from "@data/cookies";
import { apiRequest } from '@utils/apiClient';
const deparment = getCookie("department_id", Astro.cookies);

const requestsInCotizar = await (async () => {
  try {
    return await apiRequest(`/user/get-travel-requests/${deparment}/4`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()

const requestsInComprobar = await (async () => {
  try {
    return await apiRequest(`/user/get-travel-requests/${deparment}/7`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()

// ACA HAY QUE PONER DOS FETCH, UNO PARA SOLICITUDES POR COTIZAR Y OTRO PARA SOLICITUDES POR COMPROBAR

const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />

    <div class="grid grid-cols-1 gap-8">
      <RequestSection
        title="SOLICITUDES POR COTIZAR"
        requests={requestsInCotizar}
        anchor="cotizaciones"
        urlBase="cotizar-solicitud"
        subtitle="Esta solicitud est치 esperando cotizaci칩n."
        emptyMessage="NO HAY SOLICITUDES POR COTIZAR"
      />

      <RequestSection
        title="SOLICITUDES POR COMPROBAR"
        requests={requestsInComprobar}
        anchor="comprobaciones"
        urlBase="comprobar-gastos"
        subtitle="Esta solicitud est치 esperando comprobaci칩n."
        emptyMessage="NO HAY SOLICITUDES POR COMPROBAR"
      />
    </div>
  </main>
</div>
