---
/**
 * Accounts payable view of the dashboard
 */

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";

import { getCookie } from "@data/cookies";
import { apiRequest } from '@utils/apiClient';
const deparment = getCookie("department_id", Astro.cookies);

// Get requests in "Por cotizar" and "Por comprobar" states for the user's department
const requestsInCotizar = await (async () => {
  try {
    return await apiRequest(`/user/get-travel-requests/${deparment}/4`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()

// Get requests in "Por comprobar" state for the user's department
const requestsInComprobar = await (async () => {
  try {
    return await apiRequest(`/user/get-travel-requests/${deparment}/7`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()

const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`Bienvenido, ${userName}`}
      subtitle="Ditta Consulting"
    />

    <div class="grid grid-cols-1 gap-8">
      <RequestSection
        title="Solicitudes por cotizar"
        requests={requestsInCotizar}
        anchor="cotizaciones"
        urlBase="cotizar-solicitud"
        subtitle="Esta solicitud est치 esperando cotizaci칩n."
        emptyMessage="No hay solicitudes por cotizar"
      />

      <RequestSection
        title="Solicitudes por comprobar"
        requests={requestsInComprobar}
        anchor="comprobaciones"
        urlBase="comprobar-gastos"
        subtitle="Esta solicitud est치 esperando comprobaci칩n."
        emptyMessage="No hay solicitudes por comprobar"
      />
    </div>
  </main>
</div>
