---
/**
 * Author: Julia Maria Stephanie Duenkelsbuehler Castillo Y Nicole Davila
 * 
 * Description: This Astro page renders an application approval screen.
 * It includes sections for travel details and buttons for authorization and rejection.
 */

import { getCookie } from '@/data/cookies';
import RequestDetail from '@components/RequestDetail.astro';
import TravelRequestActionWrapper from '@components/TravelRequestActionWrapper.tsx';

const role = getCookie('role', Astro.cookies);
let role_number = 0;
if (role === 'N1') {
  role_number = 5;
} else if (role === 'N2') {
  role_number = 4;
}
const { request } = Astro.props;
const id = request.request_id;
---
<main class="flex flex-col">
  <div>
    <RequestDetail
      request={request}
      title={`SOLICITUD #${request.request_id}`}
      subtitle="Detalles de la solicitud"
    />
    <div class="flex justify-end gap-4 mt-8">
      <TravelRequestActionWrapper
        client:only="react"
        request_id={id}
        endpoint="/authorizer/authorize-travel-request"
        role={role_number}
        title="Confirmar autorización"
        message="¿Está seguro de que desea autorizar esta solicitud?"
        redirection="/dashboard"
        modal_type="success"
        token={getCookie("token", Astro.cookies)}
        >
        Aceptar
      </TravelRequestActionWrapper>

      <TravelRequestActionWrapper
        client:only="react"
        request_id={id}
        endpoint="/authorizer/decline-travel-request"
        role={role_number}
        title="Rechazar autorización"
        message="¿Está seguro de que desea rechazar esta solicitud?"
        redirection="/dashboard"
        modal_type="warning"
        token={getCookie("token", Astro.cookies)}
        >
        Rechazar
      </TravelRequestActionWrapper>
    </div>
  </div>
</main>
