---
/**
* Authors: Eduardo Porto Morales
* Description: This is the draft request component. It displays the user's requests and allows them to edit or delete them.
**/

import MaterialIcon from "@/components/MaterialIcon.astro";
import TextHeader from "@components/TextHeader.astro";
import CancelRequestModal from "@components/CancelRequestModal.tsx";
import { getCookie } from "@data/cookies";

var { userName, requests } = Astro.props;
const filteredRequests = requests.filter((request: { status: string; }) => request.status === "Borrador");
requests= filteredRequests;

---

<div>
  <main>
    <TextHeader
      title={`DRAFT DE VIAJES DE ${userName.toUpperCase()}`}
      subtitle="Aquí puedes ver los draft de solicitudes por completar"
    />
    
    <section class="bg-white p-6 rounded-lg shadow w-full">
      {requests.length > 0 ? (
        <div class="grid gap-4">
          {requests.map((request: any) => {
            return (
              <div class="grid grid-cols-[1fr_auto] gap-6 items-center">
                <a href={`/completar-draft/${request.request_id}`} class="block">
                  <div class="space-y-2 content-wrapper">
                    <p class="font-bold text-lg break-words">#{request.request_id}</p>
                    <div class="text-sm text-gray-700 grid grid-cols-[1fr_2fr] gap-y-1">
                      <p><span class="font-semibold">País Destino:</span> {request.destination_country === 'notSelected' ? 'NO SELECCIONADO' : request.destinationCountry}</p>
                      <p><span class="font-semibold">Fechas:</span> {request.beginning_date === "1900-01-01" ? 'NO DETERMINADA' : `${request.beginning_date} - ${request.ending_date}`}</p>
                      <p>
                        <span class="font-semibold">Estado:</span> 
                        <span class={`ml-1 font-semibold text-gray-500`}>
                          {request.status.toUpperCase()}
                        </span>
                      </p>
                      <p><span class="font-semibold">Responsable:</span> Eduardo Porto Morales</p>
                    </div>
                  </div>
                </a>
                <div class="flex justify-end items-center h-full p-2">
                  <span class="flex items-center justify-center w-6 h-6">                        
                    <CancelRequestModal
                        client:only="react"
                        id={request.request_id}
                        disabled={false}
                        token={getCookie("token", Astro.cookies)}
                      >
                        <div>
                          <MaterialIcon
                            icon="delete"
                            color="black"
                            style="cursor: pointer"
                          />
                        </div>
                      </CancelRequestModal>
                  </span>
                </div>
              </div>
            );
          })}
        </div>
      ) : (
        <div class="bg-gray-100 p-6 rounded-lg shadow w-full text-center text-gray-500 font-semibold">
          NO TIENES DRAFTS DE SOLICITUDES
        </div>
      )}
    </section>
  </main>
</div>