---
/**
 * MainLayout
 * 
 * This layout component defines the overall structure of the page, including the header, 
 * sidebar, main content area, and an optional messages sidebar.
 * 
 * It also includes styles for the grid layout and a conditional class to adjust the layout
 * when messages are shown.
 */

import '@styles/global.css' 
import PageHeader from "@components/PageHeader.astro";
import SideBar from "@components/Sidebar.astro";
import Messages from "@/components/Messages.astro"
import type { UserRole } from "@type/roles";

interface Props {
  title: string;
  data: {
    userName: string;
    buttonLabel: string;
    role: UserRole;
  };
  showMessages?: boolean;
}

const { title, data, showMessages = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class={`${showMessages ? 'list-messages' : ''}`}>
      <header id="page-header">
        <PageHeader
          userName={data.userName}
          buttonLabel={data.buttonLabel}
          showNotifications={showMessages}
        />
      </header>

      <aside id="sidebar">
        <SideBar role={data.role} />
      </aside>

      <section id="content">
        <div class="p-4 md:p-12">
          <slot />
        </div>
      </section>

      {showMessages && (
        <aside id="messages">
          <Messages />
        </aside>
      )}
    </div>

    <script>
      const sidebar = document.getElementById('sidebar');
      const messages = document.getElementById('messages');
      
      // Initialize sidebar and messages state based on screen size
      const initElementsState = () => {
        if (sidebar) {
          if (window.innerWidth >= 768) {
            sidebar.classList.add('open');
          } else {
            sidebar.classList.remove('open');
          }
        }

        if (messages) {
          if (window.innerWidth >= 768) {
            messages.classList.add('open');
          } else {
            messages.classList.remove('open');
          }
        }
      };

      // Set initial state
      initElementsState();

      // Handle resize
      window.addEventListener('resize', initElementsState);
    </script>
  </body>
</html>
