---
/**
 * MainLayout
 * 
 * This layout component defines the overall structure of the page, including the header, 
 * sidebar, main content area, and an optional messages sidebar.
 * 
 * It also includes styles for the grid layout and a conditional class to adjust the layout
 * when messages are shown.
 */

import '@styles/global.css' 
import PageHeader from "@components/PageHeader.astro";
import SideBar from "@components/Sidebar.astro";
import Messages from "@/components/Messages.astro"
import type { UserRole } from "@type/roles";

interface Props {
  title: string;
  data: {
    userName: string;
    buttonLabel: string;
    role: UserRole;
  };
  showMessages?: boolean;
}

const { title, data, showMessages = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class={`${showMessages ? 'list-messages' : ''}`}>
      <header id="page-header">
        <PageHeader
          userName={data.userName}
          buttonLabel={data.buttonLabel}
        />
      </header>

      <aside id="sidebar">
        <SideBar role={data.role} />
      </aside>

      <section id="content">
        <div class="p-12">
          <slot />
        </div>
      </section>

      {showMessages && (
        <aside id="messages">
          <Messages />
        </aside>
      )}
    </div>

    <style>
      html, body, #app, #content, #sidebar, #messages {
        background-color: var(--color-background);
        color: var(--color-text);
        transition: background-color 0.2s, color 0.2s;
        margin: 0;
        width: 100%;
        height: 100%;
      }

      #app {
        display: grid;
        grid-template-areas:
          "header header header"
          "sidebar content messages";
        grid-template-columns: auto 1fr 0;
        grid-template-rows: auto 1fr;
        height: 100vh;
      }

      #app.list-messages {
        grid-template-columns: auto 1fr 16rem;
      }

      #page-header { grid-area: header; }
      #sidebar { grid-area: sidebar; }
      #content { grid-area: content; height: 100%; overflow-y: auto; }

      #messages {
        grid-area: messages;
        background-color: var(--color-background);
        border-left: 1px solid var(--color-neutral-50);
        box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
        padding: 1.5rem;
        overflow-y: auto;
      }
    </style>
  </body>
</html>
